extends layout.pug

block content
  .container.bg-light
    .row.align-items-center
      .col-8
        h2.display-2
          | My mood
        .input-group.py-5
          .form-outline
            input#song-search.form-control(type='search')
            #autocom-box.list-group
              //
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          button#search-btn.btn.btn-primary(type='button')
            span
              img#search-icon(src='./images/search_icon.png')
        #song-picks.row.align-items-top
        button#submitBtn.btn.btn-primary.d-none(type='button') Submit
      #infoModal.modal(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5.modal-title Modal title
            .modal-body
              | ...
            .modal-footer
              .btn-group 
                button#removeBtn.btn.btn-warning.px-10(type="button") Remove Song
                button#previewBtn.btn.btn-outline-info(type="button") Preview Song
              audio#previewAudio(preload='auto')
      .col-4
        #text-box.form-group.d-none
          textarea#form-content.form-control(rows="3",placeholder="text")
        #text-btn.button.btn.btn-primary(type="button") Add optional text

