extends layout.pug 

block content
    .container.bg-light
        #song-wrapper.col-2.mx-auto
            h5 The Chain 
            h6.text-muted By Fleetwood Mac
            img(src="https://is4-ssl.mzstatic.com/image/thumb/Music124/v4/4d/13/ba/4d13bac3-d3d5-7581-2c74-034219eadf2b/081227970949.jpg/100x100bb.jpg")
        #mood-wrapper.d-flex.justify-content-center 
            btn-group.btn-group-toggle(data-toggle='buttons')
                .col.d-flex.justify-content-center 
                    label.btn.btn-primary
                        input(type='checkbox' name='options' autocomplete='off')
                        |   Joy
                    label.btn.btn-primary
                        input(type='checkbox' name='options' autocomplete='off')
                        |   Sad
                    label.btn.btn-primary
                        input(type='checkbox' name='options' autocomplete='off')
                        |   Stressed
                    label.btn.btn-primary
                        input(type='checkbox' name='options' autocomplete='off')
                        |   Anger
                    label.btn.btn-primary
                        input(type='checkbox' name='options' autocomplete='off')
                        |   Confidence
                    label.btn.btn-primary
                        input(type='checkbox' name='options' autocomplete='off')
                        |   Shame
                .col.d-flex.justify-content-center 
                    label.btn.btn-primary
                        input(type='checkbox' name='options' autocomplete='off')
                        |   Jealousy
                    label.btn.btn-primary
                        input(type='checkbox' name='options' autocomplete='off')
                        |   Loneliness
                    label.btn.btn-primary
                        input(type='checkbox' name='options' autocomplete='off')
                        |   Fear
                    label.btn.btn-primary
                        input(type='checkbox' name='options' autocomplete='off')
                        |   Relaxed
                    label.btn.btn-primary
                        input(type='checkbox' name='options' autocomplete='off')
                        |   Surprise
