extends layout.pug 

block content
    .container.bg-light
        .row.align-items-center
            h4.display-4 #{name}
            p bio placeholder
            #post-wrapper.container

//-
                #date-wrapper.row.align-items-top
                    h6.display-6 January 17, 2022 4:20pm
                    #post.col-2
                        img(src="https://is4-ssl.mzstatic.com/image/thumb/Music115/v4/bb/45/68/bb4568f3-68cd-619d-fbcb-4e179916545d/BlondCover-Final.jpg/100x100bb.jpg")
                        h5 Pink + White
                        h6.text-muted Frank Ocean
                    #post.col-2
                        img(src="https://is4-ssl.mzstatic.com/image/thumb/Music124/v4/4d/13/ba/4d13bac3-d3d5-7581-2c74-034219eadf2b/081227970949.jpg/100x100bb.jpg")
                        h5 The Chain
                        h6.text-muted Fleetwod Mac
                #date-wrapper.row.align-items-top
                    h6.display-6 January 17, 2022
                    #post.col-2
                        img(src="https://is4-ssl.mzstatic.com/image/thumb/Music115/v4/bb/45/68/bb4568f3-68cd-619d-fbcb-4e179916545d/BlondCover-Final.jpg/100x100bb.jpg")
                        h5 Pink + White
                        h6.text-muted Frank Ocean
                    #post.col-2
                        img(src="https://is4-ssl.mzstatic.com/image/thumb/Music124/v4/4d/13/ba/4d13bac3-d3d5-7581-2c74-034219eadf2b/081227970949.jpg/100x100bb.jpg")
                        h5 The Chain
                        h6.text-muted Fleetwod Mac
