body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#autocom-box {
  font: 2200px;
}

#search-icon {
  width: auto;
  max-height: 16;
}

#search-btn {
  max-height: 36;
}

.song-present {
  cursor: pointer;
}